.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.noise-level {
  font-size: 5rem;
  font-weight: bold;
}
